<h1>Productos Recibidos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
        <td><%= product["id"] %></td>
        <td><%= product["name"] %></td>
        <td><%= product["price"] %></td>
        <td><%= product["stock"] %></td>
    </tr>
    <% end %>
</table>
